<link rel="stylesheet" href="/public/styles/partials/tinyCarousel.css">
<nav data-carousel class="tinyCarousel">
<h4>{{title}}</h4>
    <button data-clear-cookie=".tinyCarousel">X</button>
    <div id="renderCarouselData"></div>
</nav>

<script src="/public/js/partials/callLoader.js"></script>
<script src="/public/js/partials/tinyCarousel.js"></script>