body {
  overflow: hidden;
}
/* .side-bar {
    width: 40%;
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
}

.side-bar-content {
    margin: 3%;
    overflow: auto;
    height: 90vh;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.translate{
  /* transform: translateX(80%); */
  width: 60vw;
  transform: translateX(20%);
}
/* .content p{
  font-size: 40px;
  font-weight: 700;
} */

.content > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
  height: 100vh;
  overflow-y: auto;
  z-index: 7;
}

.slide > div {
  display: block;
  height: 100vh;
  /* width: 100vw; */
}

.onPressLi {
  color: #f2f2f2;
  background: #343333;
  /* background-color: yellowgreen; */
}

.userRender tr td.userMessage{
  position: relative;
  overflow: hidden;
}
.userRender tr td.userMessage::before {
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  content: "message";
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: var(--gray);
  z-index: 3;
  transition: all 0.5s;
}

.userRender tr td.userMessage:hover::before{
  transform: translateY(0);
  background-color: var(--user-color);
}

.content {
  position: absolute;
  inset: 0;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* color: #202020; */
  /* z-index: -1; */
  width: 80vw;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  text-align: center;
  transition: all .6s ease;
}