@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap");

:root {
  --user-color: rgb(79, 76, 72);
  --options-color: rgb(42, 41, 39);
  --options-color-children: rgb(61, 59, 56);
  --options-color-children-darker: rgb(36, 35, 33);
  --danger: brown;
  --text: wheat;
  --default: FFFFFF;
  --success: #28a745;
  --info: #8b9dc3;
  --warning: #F7DE3A;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 80%;
}

.m-auto {
  margin: auto;
}

.text {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3%;
  padding: 3%;
}

.w-7 {
  width: 70%;
  overflow: auto;
}

.h-5 {
  height: 50%;
  overflow: auto;
}

.w-6 {
  width: 60%;
}

.w-10 {
  width: 100%;
}

.w-2 {
  width: 20%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
  }

.border-radius {
  border-radius: 10px;
}

.float-left {
  float: left;
  padding: 2%;
}

.center {
  margin: auto;
  text-align: center;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.warning {
  color: darkred;
}

.background-warning {
  background-color: darkred;
  opacity: 0.7;
}

.success {
  color: forestgreen;
}

.background-success {
  background-color: forestgreen;
  /* opacity: 0.7; */
}

.commentContent textarea {
  width: 70%;
  border-radius: 10px;
}

.commentContent {
  padding: 3%;
  margin-bottom: 5%;
  opacity: 0.7;
}

.form .group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2% 0 2% 0;
  align-self: center;
}

.form {
  padding: 2%;
  margin: 3%;
}

.form input,
.form label {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid steelblue;
  display: block;
  margin: 3%;
}

.form label {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
}

.border {
  border-bottom: 1px solid black;
  margin-top: 6%;
  margin-bottom: 7%;
}

.title {
  margin: 5%;
}

tbody tr:nth-child(odd) {
  background-color: rgba(216, 208, 208, 0.3);
}

table td {
  padding: 2.6%;
}

table {
  border: none;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.display-none {
  display: none;
}

button, input[type="submit"], input[type="file"]{
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 8px;
}

input[type="submit"]:hover, button:hover, input[type="file"]:hover {
  animation: wave 0.5s ease-in-out 1;
}

@keyframes wave {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(0);
  }
}

.btn-transition {
  transition: all .6s ease;
  margin: auto;
}

.btn-transition:enabled {
  width: 85%;
  background-color: rgba(3, 29, 102, 0.1);
  border-color: rgb(3, 29, 102);
}

.cursor-pointer {
  cursor: pointer;
}