.pagination {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 7%;
  gap: 10px;
}

.pagination span {
	padding: 3%;
	font-size: large;
	transition: background-color 0.3s;
  text-align: center;
}

.pagination span:hover {
	background-color: var(--gray);
	cursor: pointer;
}

.prevButton, .nextButton {
	height: 50%;
	padding: 3%;
	background-color: var(--dark-blue);
	border: none;
	border-radius: 20%;
	font-size: large;
	transition: all 0.3s;
}

.prevButton:hover, .nextButton:hover {
	background-color: var(--info);
	color: var(--default);
	border: 1px solid black;
}

.pageSelected {
	background-color: var(--info);
	color: var(--default);
}