{{#if message}}
<p hidden id="message">{{message.message}}</p>
<p hidden id="type">{{message.type}}</p>
{{#if message.error}}
<p hidden id="error">{{message.error}}</p>
{{/if}}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const message = {
        message: document.querySelector("#message")?.textContent,
        type: document.querySelector("#type")?.textContent,
        error: document.querySelector("#error")?.textContent
    }

    if (message) globalMethods.activeGlobalMessage(message);

</script>
{{/if}}