<link rel="stylesheet" href="/public/styles/partials/pagination.css">
<div class="pagination" id="pagination">
</div>
<script>
    const paginationOptions = {{{pagination}}}
</script>
<script src="/public/js/partials/pagination.js"></script>