.side-bar-wrapper .menu-btn {
    top: 100px;
}

.sidebar {
    height: 80%;
    overflow: auto;
}

.sidebar .list-items {
    box-sizing: border-box;
}

.sidebar .list-items li {
    position: relative;
    cursor: default;
}

.sidebar .list-items li::before {
    content: "";
    position: absolute;
    background-color: var(--random-color);
    opacity: 0.8;
    width: 10%;
    margin: 2%;
    inset: 0;
    border-radius: 6px;
    cursor: pointer;
}

.side-bar-content {
    position: fixed;
    inset: 0;
    min-width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: all .6s ease-out;
}

.translate {
    /* transform: translateX(80%); */
    transform: translateX(10%);
    min-width: 60vw;
}