body {
    transition-duration: 0.2s;
    font-family: "Hanken Grotesk", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.content {
    margin: auto;
    height: 100%;
    /* overflow: hidden; */
}

.userContent {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center;
    background-color: var(--user-color);
}

.userContent p {
    color: var(--text);
    font-size: 1.5em;
}

.userContent img {
    border-radius: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    object-position: center;
}

.content div {
    width: 60%;
    margin: auto;
}

.optionsContent {
    height: 100vh;
    padding-left: 3%;
    background-color: var(--options-color);
}

.optionsContent ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 50px; */
}

.optionsContent ul li {
    list-style: none;
    width: 100%;
}

.optionsContent ul li>p {
    display: block;
    position: relative;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 3em;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.optionsContent ul li>p::before {
    position: absolute;
    content: attr(data-text);
    color: var(--clr);
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: 1.5s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

.optionsContent ul li>p:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

div.handleRequest {
    position: absolute;
    margin: auto;
    top: 10%;
    left: 105%;
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: wheat;
    background-color: var(--options-color);
    overflow: scroll;
    padding: 2%;
    gap: 15px;
}

div.eachProduct {
    position: relative;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 2; */
    font-size: 15px;
    background-color: var(--options-color-children);
    width: 80%;
    height: 100px;
    overflow: hidden;
}

div.eachProduct div.productTitle {
    position: absolute;
    top: 140%;
    height: 100%;
    filter: blur(5px);
    filter: grayscale(100%);
    width: 40%;
    background-position: center center;
    transition: top 0.3s ease-in;
    border-radius: 10px;
}

div.eachProduct>div:not(.productTitle) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    font-size: 1.5em;
    width: 100%;
}

div.eachProduct>div:not(.productTitle) {
    font-size: 1em;

}
/* div.eachProduct > div:not(.handleSelectedMethod) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    top: 140%;
    height: 100%;
    filter: blur(5px);
    filter: grayscale(100%);
    width: 60%;
    background-position: center center;
    transition: top 0.3s ease-in;
    border-radius: 10px;
} */

div.eachProduct:hover div.productTitle {
    inset: 0;
    right: 25%;
}

/* div.eachProduct:hover > div:not(.handleSelectedMethod) {
    inset: 0;
} */

.onLogOut {
    border: none;
    margin-left: -18px;
    display: flex;
    justify-content: center;
}

.onLogOut button {
    background-color: var(--danger);
    width: 100%;
}

button {
    border: none;
    padding: 2%;
    font-size: 1.2em;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.goBack {
    position: fixed;
    color: var(--text);
    left: 0;
    top: 0;
    font-size: 4em;
    cursor: pointer;
    z-index: 10;
}

.quantityDesign {
    text-align: end;
    font-size: 2em;
}

.handleSelectedMethod {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 20px;
    z-index: 7;
}

.orderDesign {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; */
    background-color: var(--options-color-children);
    min-width: 50%;
    max-width: 50%;
    max-height: 80vh;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
    font-size: 15px;
    color: black;
    overflow: auto;
}

.orderDesign .card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    height: 50%;
    cursor: pointer;
    overflow: auto;
}

.orderDesign .card img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    inset: 0;
}

.orderDesign .card:hover {
    /* width: 100vw; */
    background-color: var(--options-color-children);
    color: var(--text);
}

.orderDesign .card:hover .productOrderOptions p{
    /* width: 100vw; */
    color: var(--text);
}

.productOrderOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1em;
    color: black;
    height: 30vh;
}

.orderDesign .card::before {
    position: absolute;
    inset: 0;
    text-align: center;
    content: "Scroll";
    color: var(--text);
    opacity: 0;
    width: 100%;
    font-size: x-large;
    animation: upAdnDown infinite 2s ease-in;
    animation-direction: alternate;
    transition: opacity 0.5s;
}

@keyframes upAdnDown {
    from {
        transform: translateY(5%);
    }

    to {
        transform: translateY(-5%);
    }
}

.orderDesign .card:hover.card::before {
    opacity: 1;
}

.totalPrice {
    position: sticky;
    inset: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    background-color: var(--options-color-children-darker);
    flex-wrap: wrap;
}

.totalPrice span {
    color: var(--success);
}

.onSwitchViewArrow {
    position: fixed;
    /* bottom: 50%; */
    right: 8%;
    top: 80%;
    background: none;
    border: none;
    cursor: pointer;
    /* background-color: var(--options-color-children); */
    border-radius: 10%;
    background-color: var(--options-color-children);
    font-size: 1rem;
    width: 10%;
    text-align: center;
    height: 10%;
    transition: background-color 0.3s;
}


.arrowUp {
    top: 5rem;
}

.arrowDown {
    bottom: 1rem;
}

.filter-blurried {
    filter: blur(10px);
}

.finalPurchase {
    display: block;
    /* align-content: center; */
    background-color: var(--warning);
    color: var(--options-color);
    min-width: 50%;
    max-width: 50%;
    font-size: 25px;
}

.typeMessageDesign {
    position: relative;
    top: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* min-width: 100%; */
    width: 70%;
}

.typeMessageDesign span {
    font-size: 2rem;
    padding: 1.5%;
    cursor: pointer;
    border-radius: 10%;
    transition: all 0.3s;
}

.typeMessageDesign span:hover {
    background-color: var(--options-color-children);
}

.typeMessageDesign span:focus {
    border: 10px solid var(--options-color-children-darker);
}
.typeMessageDesignInput {
    width: 80%;
    height: 75px;
    font-size: 2rem;
    color: var(--text);
    background-color: var(--options-color-children);
    border: 1px solid var(--options-color-children-darker);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .optionsContent ul li>p {
        font-size: 1em;
    }
      
    .userContent p {
        font-size: 1em;
    }
    
    .userContent img {
        width: 20%;
    }

    .handleSelectedMethod button {
        width: 50%;
        font-size: 1em;
    }

    .orderDesign {
        min-width: 60%;
        max-width: 60%;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
    }

    .finalPurchase {
        font-size: 15px;
    }

    .onSwitchViewArrow {
        top: 60%;
        border-radius: 40%;
    }
    
    
    .arrowUp {
        top: 10rem;
    }

}

div.message {
    position: absolute;
    inset: 0;
    bottom: 15%;
    width: 70%;
    height: 70%;
    background-color: var(--user-color);
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow: auto;
}

div.message div {
    padding: 2%;
    width: 90%;
    border-radius: 10px;
}

div.message strong {
    cursor: default;
    font-size: 0.7rem;
}
div.message div.from {
    text-align: left;
    background-color: var(--options-color);
}

div.message div.self {
    text-align: right;
    background-color: var(--options-color-children);
}

nav.sidebar .title {
    cursor: pointer;
    transition: background-color 0.3s;
}

nav.sidebar .title:hover {
    background-color: var(--options-color);
}

.translateLeft {
    transform: translateX(-100%);
}