* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tinyCarousel {
    width: 80%;
    margin: auto;
    position: relative;
    transition: all 0.4s;
}

.tinyCarousel button[data-clear-cookie] {
    position: absolute;
    top: 0;
    right: -5%;
    cursor: pointer;
    color: var(--danger);
    font-size: 1.5rem;
}

.tinyCarousel #renderCarouselData {
    width: 100%;
    display: flex;
    gap: 2%;
    overflow: auto;
    background-color: var(--info);
    padding: 3%;
    overflow: hidden;
}

.tinyCarousel #renderCarouselData>div {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: 3%;
    background-color: var(--white);
    /* flex-wrap: wrap; */
    overflow: auto;
    cursor: default;
}

.tinyCarousel #renderCarouselData p {
    color: var(--success);
}

.tinyCarousel>#renderCarouselData>div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


.tinyCarousel>#renderCarouselData>div::-webkit-scrollbar-thumb {
    background-color: var(--user-color);
    border-radius: 6px;
}

.tinyCarousel>#renderCarouselData>div::-webkit-scrollbar-track {
    background-color: var(--white);
    border-radius: 10px;
}

.tinyCarousel>#renderCarouselData>div::-webkit-scrollbar-thumb:hover {
    background-color: var(--options-color);
}

.tinyCarousel #renderCarouselData img {
    width: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.tinyCarousel #renderCarouselData img:hover {
    filter: blur(1px);
}

.tinyCarousel button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    /* color: rgba(255, 255, 255, .5); */
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    transition: all 0.3s;
    /* background-color: rgba(0, 0, 0, .1); */
}

.tinyCarousel button:hover {
    background-color: var(--gray);
    opacity: 0.8;
}

.tinyCarousel button:focus {
    border: 1px black solid;
}

.tinyCarousel button[data-scroll="prev"] {
    left: 100%;
}

.tinyCarousel button[data-scroll="next"] {
    right: 100%;
}